.filterableTable {
	display: inline-block;
	padding: 50px;
	margin: 50px;
	background-color: lightblue;
	border-radius: 20px;
}

.productsContainer {
	text-align: left;
	font-size: 14px;
}

.productCtas {
	margin-bottom: 20px;
}

.resetButton {
	padding: 7px 30px;
	font-size: 18px;
	font-weight: bold;
	border-radius: 10px;
	cursor: pointer;
}

.textBox {
	font-size: 18px;
}

.productField {
	font-weight: bold;
}
